<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon favorite-icon" aria-label="logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
      <span>Hello, </span>
      <span class="example-spacer"></span>
      
    </mat-toolbar>
</p>

<div class="flex-container">
    <mat-card>
      <mat-card-header class="heading"> Create a new Template </mat-card-header>
    <mat-card-content style="margin: 20px; flex-grow: 1; overflow: auto;">
    <mat-form-field style="width: 100%;">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
          <mat-option value="none">None</mat-option>
          <mat-option value="Program Template">Program Template</mat-option>
          <mat-option value="Project Template">Project Template</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
      
      <button style="margin: 20px;" mat-raised-button color="primary" (click)="navigateToCreateTemplatePage()">
        Create 
      </button>
  
    </mat-card>

    
    <mat-card>
      <mat-card-header class="heading"><div style="display: flex; justify-items: center; align-items: center; margin-bottom: 5px;"> Draft Template 
        <mat-icon style="color: black; margin-left: 10px;">info</mat-icon>

      </div>
      </mat-card-header>
      <mat-card-content style="margin: 20px; flex-grow: 1; overflow: auto;">
        <div *ngFor="let draftData of draftsData">
          <app-draft-template-widget [draftTemplateData]='draftData'></app-draft-template-widget>
        </div>
        </mat-card-content>

      </mat-card>
</div>