<div *ngIf="showForm">
    <form [formGroup]="myForm" (keyup.enter)="onSubmit()" autocomplete="off">
        <div *ngFor="let control of jsonFormData?.controls" class="form-group">
            <div style="display: flex; justify-items: center; align-items: center; margin-bottom: 5px;">
                <div>{{control?.label}}</div>
                <div style="width: 10px;"></div>
                <mat-icon *ngIf="control?.description" matTooltip={{control?.description}} >info</mat-icon>
            </div>
            <!-- field -->
            <mat-form-field *ngIf="textBoxTypes.includes(control?.type) && !control?.isNumberOnly" [appearance]="uiConfig.appearance" [floatLabel]='uiConfig.floatLabel'>
            
                <input matInput 
                    [ngClass]="{'field-large':uiConfig.appearance=='fill'}"
                    [placeholder]="control?.placeHolder"
                    [type]="control?.type"
                    [formControlName]="control?.name" 
                    [maxlength]="control?.validators.maxLength" 
                    [required]="control?.validators?.required"
                    autocomplete="new-password"
                    (keydown)="removeSpace($event)">
                <mat-icon matSuffix 
                    *ngIf="control?.type === 'password' || control?.showPasswordIcon"
                    (click)="hideShowPassword(control)">
                    {{control?.type === 'password' ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                <mat-icon matSuffix 
                    *ngIf="control?.type === 'secretCode'" 
                    (click)="alertToast(control)">info
                </mat-icon>
                <mat-error *ngIf="myForm.get(control?.name)?.touched && myForm.get(control?.name)?.invalid">
                    <mat-icon 
                        *ngIf="control?.errorMessage"
                        class="error-icon-info" 
                        matPrefix>
                        error_outline
                    </mat-icon>
                    {{control?.errorMessage}}
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="control?.type === 'text' && control?.isNumberOnly" [appearance]="uiConfig.appearance" [floatLabel]='uiConfig.floatLabel'>
                
                <input matInput 
                    [ngClass]="{'field-large':uiConfig.appearance=='fill'}"
                    [placeholder]="control?.placeHolder"
                    [type]="control?.type"
                    [formControlName]="control?.name" 
                    [maxlength]="control?.validators.maxLength" 
                    [required]="control?.validators?.required"
                    numberOnly
                >
                <mat-error *ngIf="myForm.get(control?.name)?.touched && myForm.get(control?.name)?.invalid">
                    <mat-icon 
                        *ngIf="control?.errorMessage"
                        class="error-icon-info" 
                        matPrefix>
                        error_outline
                    </mat-icon>
                    {{control?.errorMessage}}
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="control?.type==='textarea'" [appearance]="uiConfig.appearance" [floatLabel]='uiConfig.floatLabel'>
                
                <textarea matInput 
                    [ngClass]="{'field-large':uiConfig.appearance=='fill'}"
                    [formControlName]="control?.name"
                    [placeholder]="control?.placeHolder"
                    [maxlength]="control?.validators?.maxLength"
                    [required]="control?.validators?.required"
                    (keydown)="removeSpace($event)">
                </textarea>
                <mat-error *ngIf="myForm.get(control?.name)?.touched && myForm.get(control?.name)?.invalid">
                    <mat-icon 
                        *ngIf="control?.errorMessage"
                        class="error-icon-info" 
                        matPrefix>
                        error_outline
                    </mat-icon>
                    {{control?.errorMessage}}
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="control?.type==='select'" [appearance]="uiConfig.appearance" [floatLabel]='uiConfig.floatLabel'>
                
                <mat-select
                    [ngClass]="{'field-large':uiConfig.appearance=='fill'}" 
                    [value]="control?.value"
                    [formControlName]="control?.name"
                    [compareWith]="compareWith"
                    [required]="control?.validators?.required">
                    <mat-option
                        *ngFor="let option of control?.options"
                        [value]="[option]">
                        {{option.label}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="myForm.get(control?.name)?.touched && myForm.get(control?.name)?.invalid">
                    <mat-icon 
                        *ngIf="control?.errorMessage"
                        class="error-icon-info" 
                        matPrefix>
                        error_outline
                    </mat-icon>
                    {{control?.errorMessage}}
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="control?.type === 'toggle'" [appearance]="uiConfig.appearance" [floatLabel]='uiConfig.floatLabel'>
                
                <mat-slide-toggle
                    [formControlName]="control?.name" 
                    [checked]="control?.value"
                    [required]="control?.validators?.required">
                </mat-slide-toggle>
                <textarea matInput
                    [required]="control?.validators?.required"
                    hidden>
                </textarea>
                <mat-error *ngIf="myForm.get(control?.name)?.touched && myForm.get(control?.name)?.invalid">
                    <mat-icon 
                        *ngIf="control?.errorMessage"
                        class="error-icon-info" 
                        matPrefix>
                        error_outline
                    </mat-icon>
                    {{control?.errorMessage}}
                </mat-error>
            </mat-form-field>

            
            <mat-form-field *ngIf="control?.type==='date'" [appearance]="uiConfig.appearance" [floatLabel]='uiConfig.floatLabel'>
                
                <input class="date-input" matInput #date
                    [ngClass]="{'field-large':uiConfig.appearance=='fill'}"
                    [matDatepicker]="picker"
                    [placeholder]="control?.placeHolder"
                    [formControlName]="control?.name"
                    [value]="control?.value"
                    [max]="maxDate"
                    [min]="(control.name === dependedChild)?dependedChildDate:currentDate"
                    [readonly]="control?.readonly"
                    [required]="control?.validators?.required">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="myForm.get(control?.name)?.touched && myForm.get(control?.name)?.invalid">
                    <mat-icon 
                        *ngIf="control?.errorMessage"
                        class="error-icon-info" 
                        matPrefix>
                        error_outline
                    </mat-icon>
                    {{control?.errorMessage}}
                </mat-error>
            </mat-form-field>

            
        </div>
    </form>
</div>