.body{
  align-items: center;

}
.register_card{
  margin: 50px;
  width: 100%;
  box-shadow: 1px 1px 5px 5px rgb(216, 216, 216);
}

.register_form{
  display: flex;
  flex-direction: column;
}
.register_toolbar{
  flex: 1 1 auto;
  text-align: start;
  padding: 0%;
}
h2{
  font-weight: bold;
  font-size: 1.5rem;
}
.my-form-field{
  margin:10px;
  height: 60px;
}

.my-form-field2{
  margin:10px;
  height: 20px;
}

.register_button{
  background-color: #008000b5;
  width: 75%;
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
}
.register{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding-right: 10px;
}

.input-field{
  height: 10px;
}

.login_elevate{
  color: #008000b5;
}
h1{
  color:  #8b0000cc;
  font-weight: bold;
  font-size: 3rem;
}


.div_register_button{
  text-align: center;
}
.already-account-login{
  color: blue;
  font-size: small;
  font-weight: 200;
  text-align:center;
  margin-bottom: 5px;
}


.spinner{
  display:flex;
  flex-direction: column;
  gap:20px;
  padding-top: 15%;
  align-items: center;
  justify-content: center;
}
.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #8b0000;
}

.register-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px ;
}
