$white: #fff;          
$theme: #b23836;
$black: #111;
$theme-gradient:linear-gradient(45deg, #ce6a67 0%, #b23836 95%);
$grey: grey;
$grey-bg: #fafbf4;
$grey-shade:#969595;
$light-grey: #bfbfbf;
$lighter-grey:rgb(250, 250, 250);
$light-red:#FA401A;
$dark-yellow: #ffd740;
$green:#39a464;
$red: red;
$blue: rgb(0, 75, 235);
$light-pink:rgb(253, 204, 212);
$light-blue: rgb(76, 115, 201);
$warning : #ED4F32;