
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mentorEd-portal-primary: mat.define-palette(mat.$indigo-palette);
$mentorEd-portal-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mentorEd-portal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mentorEd-portal-theme: mat.define-light-theme((
  color: (
    primary: $mentorEd-portal-primary,
    accent: $mentorEd-portal-accent,
    warn: $mentorEd-portal-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mentorEd-portal-theme);

/* You can add global styles to this file, and also import other style files */
@import "/src/variables";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snack_bar{
  background-color: $red !important;
  color: $white !important;
}
.snack_icon{
  color: $white !important;
}
.warning{
  background: $red !important;
  color: $white !important;
  max-width: 100% !important;
}
.mat-chip {
  height: 45px !important;
  color: $theme !important;
  font-size: 16px !important;
  border-radius: 25px !important;
  background-color: $white !important;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  color: $white !important;
  background-color: $theme !important;
}
mat-chip{
  text-align: center;
}
.mat-select-value-text{
  font-size: 16px;
  color: $black;
  letter-spacing: .3px;
}
.mat-badge-content {
  min-width: 42px !important;
  max-height: 16px !important;
  border-radius: 0px !important;
  font-size: 11px !important;
  font-weight: 500 !important;
  background-color: $light-blue !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}
.mat-dialog-container {
  border-radius: 25px !important;
}
.owl-dt-popup {
  max-width: 65% !important;
  overflow: scroll !important;
  max-height: 65% !important;
}
.owl-dt-container {
  border: 1px solid black;
  height: fit-content !important;
}
@media only screen and (orientation: landscape) {
  .owl-dt-container {
    height: fit-content !important;
    border: 1px solid black;
  }
}
.mat-chip-list-wrapper{
  justify-content: center;
}
.myPanelClass{
  margin-top: 20px ; 
}
.myPanelClassHeader{
  margin-top: 30px ;
}
.myPanelClassDrawer{
  margin-top: 25px ;
}

a, div, img{
  -webkit-user-drag: none !important;
  user-select: none !important;
}
.mat-typography p{
  margin: 0 0 10px !important;
}
