<div class="container" fxLayoutAlign="center" fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="center space-evenly">
        <mat-card>
        <div>
          <h1>
            Welcome Back !
          </h1>
        </div>
        <div fxLayout="column" fxLayoutAlign="center">
          <div fxFlex="100" fxFlex.sm="80" fxFlex.xs="95" fxLayout="column">
            <app-dynamic-form [jsonFormData]="formData" #loginForm fxFlex="100" class="input" (onEnter)="onSubmit()"></app-dynamic-form>
            <button mat-raised-button color="primary" [disabled]="!loginForm.myForm.valid" class="btn-login"
              (click)="onSubmit()" fxFlex="100">
              <h3>Login</h3>
            </button>
            <div  fxLayout="column" fxLayoutAlign="space-between center" class="wrapper" >
              <mat-checkbox class="remember-me" [(ngModel)]="rememberMe">
                Remember Me
              </mat-checkbox>
              <a routerLink="/auth/register" class="forgot-password">Don't you have an account? Sign Up</a>
            </div>
          </div>
        </div>
      </mat-card>
      </div>
</div>

 
  