.body {
  align-items: end;
}
.login_card {
  margin: 50px;
  width: 100%;
  box-shadow: 1px 1px 5px 5px rgb(216, 216, 216);
}

.login_form {
  display: flex;
  flex-direction: column;
}

.my-form-field{
  margin:10px;
  height: 60px;
}

.my-form-field2{
  margin:10px;
  height: 20px;

}

.login_toolbar {
  flex: 1 1 auto;
  text-align: start;
  padding-left: 2rem;
}

.login_button {
  background-color: #fff000;
  width: 75%;
  color: white;
  margin-top: 40px;
  margin-bottom: 10px;
}

.login {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding-right: 10px;
}

.login_elevate {
  color: #008000b5;
}
h1 {
  color: #8b0000cc;
  font-weight: bold;
  font-size: 3rem;
}

.div_btn2 {
  text-align: center;
}
.login_forgotAccount {
  text-align: center;
  color: blue;
}
.login_forgotAccount:hover {
  color: red;
}

.spinner{
  display:flex;
  flex-direction: column;
  gap:20px;
  padding-top: 15%;
  align-items: center;
  justify-content: center;
}
.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #8b0000;
}

.input-field{
  height: 100px;
}

.error-message{
  text-align:left;

}

.image{
  display: flex;
  justify-content: start;
  margin:0;
}

.login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px ;
}

.register-account-download{
  color: blue;
  font-size: small;
  font-weight: 200;
  text-align:center;
  margin-bottom: 5px;
}
