<mat-card class="main-card" style="display: flex; align-items: center;">
    <div style="display: flex; align-items: flex-end;">
        <span style="margin: 0 10px 0 0; color: purple;">50%</span>
        <span style="margin: 0;">Program Template</span>
    </div>
    <div style="display: flex;">
        
            <button (click)="editDraft()" style="background-color: darkorange; color: white; padding: 1px;">
            <mat-icon class="material-symbols-outlined">
                edit
            </mat-icon>
        </button>
        
            <button (click)="deleteDraft()" style="background-color: red; color: white; margin-left: 10px; padding: 1px;">
            <mat-icon class="material-symbols-outlined">
                delete
            </mat-icon>
        </button>
    </div>
</mat-card>