<mat-card  *ngIf="draftTemplateData" class="main-card" style="display: flex; align-items: center; margin: 10px;">
    <div style="display: flex; align-items: flex-end;">
        <span *ngIf="draftTemplateData" style="margin: 0 10px 0 0; color: purple;">{{draftTemplateData.progress ?? '50%'}}</span>
        <span style="margin: 0;">{{draftTemplateData.name ?? 'Template Name'}}</span>
    </div>
    <div style="display: flex;">
        
        <button  mat-small-fab mat-icon-button (click)="editDraft()" style="background-color: darkorange; color: white; size: 18px; ">
            <mat-icon class="material-symbols-outlined">
                edit
            </mat-icon>
        </button>
        
            <button  mat-small-fab mat-icon-button  (click)="deleteDraft()"  style="background-color: #832215; color: white; margin-left: 10px; ">
            <mat-icon class="material-symbols-outlined">
                delete
            </mat-icon>
        </button>
    </div>
</mat-card>